@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@theme {
  /* Fuentes */
  --font-title: "Bebas Neue", sans-serif;
  --font-body: Roboto, sans-serif;

  /* Colores */
  --color-primary: #DFC929;   /* principal */
  --color-secondary: #A8A8A8; /* secundario */
  --color-bg: #0E0E0E;        /* fondo */
  --color-tertiary: #D2B904;
}
@layer utilities {
  .text-outline {
    color: transparent !important;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
  }
  .bg-dark {
    background-color: var(--color-bg);
  }
  

}
